@use 'variables' as v;

html{
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    aspect-ratio: 16/9;
}

.d-grid{
    display: grid;
}

.d-flex{
    display: flex;
}

.t-center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}