@use '../base/variables' as v;

html{
    box-sizing: border-box;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

.d-grid{
    display: grid;
}

.d-flex{
    display: flex;
}

.t-center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.f-weight-600{
    font-weight: 600;
}

.f-weight-700{
    font-weight: 700;
}

.width-90{
    width: 90%;
}

.p-i-center{
    place-items: center; 
}