//Fuentes
$fuenteHeading: "Bebas Neue", sans-serif;
$fuentePrincipal: "Open Sans";

$cursor-p: pointer;
$cursor-c: crosshair;

$primario: antiquewhite;
$secundario: #545FE5;
$terciario: #2034ea;

$negro: #000;
$blanco: #fff;
$azulvioleta: blueviolet;