@use '../base/variables' as v;

.footer{
    background-color: #252525;
    color: #ffffff;
    font-size: clamp(10px, 1vw, 10px);
    font-family: v.$fuentePrincipal;
    padding: 10px;
    // display: flex;
    align-items: center;

    svg{
        padding-left: 2px;
    }
}