@use '../base/variables' as v;
@use '../base/mixins' as m;

.galeria__barra{
    background-color: #faebd7;
    padding: 1rem;
    font-weight: 600;

    p{
        margin: 0;
        font-family: v.$fuentePrincipal;
        font-weight: 600;
        font-size: clamp(14px, 1vw, 15px);
    }
}

.galeria__contenedor-primario {
    gap: 20px;
    justify-content: space-around;
    margin: 2rem 1rem;

    @include m.telefono {
        flex-direction: column;
        align-items: center; 
    }

    @include m.tablet {
        flex-direction: column;
        align-items: center; 
    }
}

.galeria__img{
    display: contents;
}

.galeria__img img {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.galeria__video {
    flex-direction: column;
    gap: 20px;
}

.galeria__video video {
    width: 100%;
    max-width: 650px; /* Ajusta el tamaño máximo de los videos */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.galeria__contenedor-secundario{
    gap: 20px;
    justify-content: space-around;
    margin: 2rem 1rem;
    align-items: center; 

    @include m.telefono {
        flex-direction: column-reverse;
    }

    @include m.tablet {
        flex-direction: column-reverse;
    }
}

.documental{
    width: 50%;

    @include m.telefono {
        width: 100%;
    }

    @include m.tablet {
        width: 100%;
    }

    &__parrafo{

        @include m.telefono {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        @include m.tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p{
            font-family: v.$fuentePrincipal;
            font-weight: 100;
            line-height: 26px;
            font-size: clamp(13px, 1vw, 15px);
            color: #626262;
            margin: 1rem 0 0 0;
        }

        span{
            color: v.$azulvioleta;
            font-weight: 600;
        }
    }
}