//Fuentes
$fuenteHeading: "Bebas Neue", sans-serif;
$fuentePrincipal: "Open Sans";

$cursor-p: pointer;
$cursor-c: crosshair;

$primario: antiquewhite;
$secundario: #545FE5;
$terciario: #2034ea;

$negro: #000;
$blanco: #fff;
$azulvioleta: blueviolet;
$gris: #626262;

// Tamaño de Media Queries
$telefono: 767px;
$tablet: 768px;
$tablet_max: 1023px;
$desktop: 1024px;
$desktopxl: 1200px;