@use '../base/variables' as v;
@use '../base/mixins'  as m;

.artistas {
    margin: 1rem 1rem 0;

    .artista {

        @include m.telefono {
            flex-direction: column;
            padding: 0px;
        }
    
        @include m.tablet {
            flex-direction: column;
            padding: 0px;
        }

        align-items: center;
        justify-content: space-around;
        padding: 40px 0;

        &__heading {
            font-family: v.$fuentePrincipal;
            margin: 0;
            padding: 0;
            color: v.$negro;
            font-size: clamp(30px, 3vw, 36px);
        }

        &__datos {
            justify-items: center;
            padding: 30px;
            width: 100%;

            @include m.telefono {
                padding: 10px 10px 25px 10px;
            }
        
            @include m.tablet {
                padding: 10px 10px 25px 10px;
            }

            &:nth-child(2){
                @include m.telefono {
                    order: -1;
                }
            
                @include m.tablet {
                    order: -1;
                }
            }

            p{
                font-family: v.$fuentePrincipal;
                font-weight: 100;
                line-height: 26px;
                font-size: clamp(13px, 1vw, 15px);
                color: v.$gris;
                margin: 1rem 0 0 0;
            }

            .cta {
                border: none;
                background: none;
                cursor: v.$cursor-p;
                margin-top: 1rem;
            }

            .cta span {
                font-family: v.$fuentePrincipal;
                padding-bottom: 7px;
                letter-spacing: 4px;
                font-size: clamp(16px, 1vw, 15px);
                padding-right: 15px;
                //text-transform: uppercase;
            }

            .cta svg {
                transform: translateX(-8px);
                transition: all 0.3s ease;
            }

            .cta:hover svg {
                transform: translateX(0);
            }

            .cta:active svg {
                transform: scale(0.9);
            }

            .hover-underline-animation {
                position: relative;
                color: v.$negro;
                padding-bottom: 20px;
            }

            .hover-underline-animation:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: v.$negro;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            .cta:hover .hover-underline-animation:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        &__imagen {
            background-color: v.$primario;
            box-shadow: 12px 12px 2px 1px rgb(192 192 204 / 20%);
            max-width: 100%;//505px;
            text-align: center;
            width: 100%;

            @include m.telefono {
                box-shadow:none;
            }

            img {
                filter: grayscale(1);
                transition: filter 250ms ease-in-out;
                //max-width: 100%;
                // width: 100%;
                // height: auto;
                width: calc(100% - 27%);
                max-width: 100%; /* Asegura que la imagen no sea más grande que su tamaño original */
                height: auto; /* Mantén la proporción original de la imagen */

                &:hover {
                    filter: grayscale(0);
                    transition: filter 250ms ease-in-out;
                    cursor: v.$cursor-c;
                }
            }
        }

        &__redes {
            width: calc(100% - 33%);
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
            flex: 0 0 20%;

            @include m.telefono {
                flex-direction: row;
                padding: 2rem 0 0 0;
                width: 65%;

                &:last-child{
                    padding: 2rem 0;
                }
            }

            @include m.tablet {
                flex-direction: row;
                padding: 2rem 0 0 0;
                width: 45%;

                &:last-child{
                    padding: 2rem 0;
                }
            }

            a {
                display: contents;
            }

            svg {
                width: 15%;
                height: auto;
                filter: grayscale(1);
                transition: filter 250ms ease-in-out;

                @media screen and (min-width: 1600px) {
                    width: 16%;
                }

                &:hover {
                    filter: grayscale(0);
                    transition: filter 250ms ease-in-out;
                }
            }
        }
    }
}

.music {
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    &__ondas {
        border: 4px solid v.$secundario;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        justify-content: center;
        align-items: center;
        padding: 0;
        cursor: v.$cursor-p;
        transition: ease 0.2s;
        position: relative;
        background: v.$blanco;
        margin: 0 0 0 10px;

        &:hover>li {
            background: v.$blanco;
        }

        &:hover {
            background: v.$secundario;
        }
    }

    &__tamaño{
        height: 11px;
        width: 6px;
    }

    &__ondas li{

        list-style: none;
        border-radius: 10px;
        background: v.$secundario;
        margin: 0 6px;
        padding: 0;
        
        &:nth-child(2) {
            animation-name: onda2;
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-name: onda3;
            animation-delay: 0.23s;
            animation-duration: 0.4s;
        }

        &:nth-child(4) {
            animation-name: onda4;
            animation-delay: 0.1s;
            animation-duration: 0.3s;
        }

        &:nth-child(5) {
            animation-delay: 0.5s;
        }

        &:nth-child(6) {
            animation-name: onda2;
            animation-duration: 0.5s;
        }

        &:nth-child(8) {
            animation-name: onda4;
            animation-delay: 0.4s;
            animation-duration: 0.25s;
        }

        &:nth-child(9) {
            animation-name: onda3;
            animation-delay: 0.15s;
        }
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 0;
        color: v.$blanco;
        background-color: v.$secundario;
        border: none;
        border-radius: 50%;
        cursor: v.$cursor-p;
        transition: background-color 0.3s ease;
        text-decoration: none;

        i{
            font-size: 24px;
        }

        &:hover {
            background-color: v.$terciario;
        }   
    }
}

.ondas__animation{
    height: 30px;
    width: 4px;
    animation-name: onda1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
}

@keyframes onda1 {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0.5);
    }
}

@keyframes onda2 {
    from {
        transform: scaleY(0.3);
    }

    to {
        transform: scaleY(0.6);
    }
}

@keyframes onda3 {
    from {
        transform: scaleY(0.6);
    }

    to {
        transform: scaleY(0.8);
    }
}

@keyframes onda4 {
    from {
        transform: scaleY(0.2);
    }

    to {
        transform: scaleY(0.5);
    }
}



